#misa {
  display: flex;
  flex-direction: row;
  min-height: 85vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.description {
  max-width: 50vw;
}

.misaimg {
  width: 15rem;
}
