#misa {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 80vw;
}
