#welcome {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 4rem;
  padding-bottom: 35px;
  width: 100%;
}

.intro {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  background-image: url('../../img/IMG_1803.jpg');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 167px;
  color: white;
  margin-bottom: 0.83em;
}

.headline-black {
  background-color: rgba(0, 0, 0, 0.674);
  padding: 2rem;
}

.hikeit {
  font-family: 'Italiana', serif;
  font-size: 2rem;
  margin: 0;
  font-weight: lighter;
}

.likeit {
  font-family: 'Italiana', serif;
  margin: 0;
  font-weight: lighter;
  text-align: right;
}



@media (min-width: 768px) {

  .headline-container {
    display: flex;
    flex-direction: column;
    background-image: url('../../img/IMG_1802.jpg');
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 300px;
    color: white;
    margin-bottom: 0.83em;
  }

  .hikeit {
    font-size: 5rem;
  }

}
