@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=M+PLUS+2&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Italiana&family=M+PLUS+2&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Istok Web', sans-serif;
}

body {
  margin: 0 auto;
  background-color: rgb(97 135 19 / 34%);
}

.container {
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
}
