@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Italiana&family=M+PLUS+2&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Istok Web', sans-serif;
  background-color: rgb(0, 65, 61);
}

header {
  background-color: rgb(0, 65, 61);
  min-height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding-right: 10vw;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(83, 130, 7);
}

.active {
  color: rgb(104, 163, 9);
}

.navbar {
  display: none
}

.navbar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 1;
  position: absolute;
  margin-top: 240px;
  padding: 1.5rem;
  background-color: rgb(0, 65, 61);
}

.hamburger-button {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  margin-bottom: 6px;
}

.hamburger-button.open .line:nth-child(2) {
  transform: scaleX(0);
}

.hamburger-button.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-button.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


@media (min-width: 854px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  .hamburger-button {
    display: none;
  }
}
