#iva {
  background-color: white;
  min-height: 85vh;
}

.intro__iva {
  display: flex;
  position: relative;
  top: 5rem;
  padding: 1rem;
  justify-content: space-evenly;
}

.intro__text {
  max-width: 50%;
}

@media (max-width: 854px) {
  .intro__photo--iva {
    width: 10rem;
  }

  .intro__iva {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    padding: 1rem;
    align-items: center;
    gap: 2rem
  }
}
